CompileFlags:
  Add: 
    - -Wall
    - -Wextra
    - -pedantic
    - -Wshadow
    - -Wconversion
    - -Wsign-conversion
    - -Wuninitialized
    - -Wundef
    - -Wswitch-enum
    - -Wfloat-equal
    - -Wdeprecated-declarations
    - -Warray-bounds
    - -Wlogical-op
    - -Wnull-dereference
    - -Wold-style-cast
    - -Wuseless-cast
    - -Wduplicated-cond
    - -Wduplicated-branches

Diagnostics:
  ClangTidy:
    Add: ["*"]
    Remove: [llvmlibc-*, abseil-*, llvmlibc-callee-namespace, bugprone-easily-swappable-parameters,
    google-readability-avoid-underscore-in-googletest-name, fuchsia-default-arguments-calls,
    altera-unroll-loops, readability-avoid-const-params-in-decls, fuchsia-trailing-return, 
    fuchsia-default-arguments-declarations, misc-non-private-member-variables-in-classes, 
    modernize-use-nodiscard, altera-struct-pack-align, modernize-return-braced-init-list,
    fuchsia-overloaded-operator ]

InlayHints:
  Enabled: No